.home-container {
    padding: 20px;
    background-color: #f8f9fa
  }
  
  .view-genre-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .data-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .data-table th, .data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .color-cell {
    width: 50px;
  }
  
  .action-link {
    color: red;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .pagination-btn {
    background-color: #ddd;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }

  .home-header {
    background-color: #f5f5f5; 
    padding: 10px 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  .home-header h1 {
    margin: 0;
    font-size: 24px;
  }

.action-button {
  display: inline-block;
  padding: 5px 10px;
  margin: 2px;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.action-button:hover {
  transform: scale(1.05); 
}

.edit-button {
  background-color: #4CAF50; 
}

.edit-button:hover {
  background-color: #45a049; 
}

.delete-button {
  background-color: #f44336; 
}

.delete-button:hover {
  background-color: #e53935;
}

  